@media (max-width: 1605px) {
    .product__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 1290px) {
    .header__box1{
        padding: 0 30px;
    }
    .box3__content{
       padding: 0 30px;
    }
}
@media (max-width: 1140px){
    .info__text{
        padding: 0 20px;
    }
}
@media (max-width: 992px) {
    .header__box2{
        column-gap: 50px;
    }
    .header__box1{
        overflow-x: scroll;
        column-gap: 30px;
    }
}
@media (max-width: 734px) {
    .box2__link:hover{
        background: none;
    }
    .box2__link{
        padding: 0;
    }
    .box2__list{
        gap: 10px;
    }
}
@media (max-width: 636px) {
    .box2__logo {
        font-size: 27px;
        max-width: 167px;
        padding: 0;
    }
    .main__nav {
        top: 55px;
    }
    .box3__title {
        font-size: 65px;
    }
    .box3__text {
        font-size: 18px;
    }
    .box3__link {
        font-size: 50px;
        padding: 6px 36px;
    }
    .box3__link2 {
        font-size: 17px;
        padding: 9px 43px;
    }
    .info__title {
        font-size: 40px;
    }
    .box2__list{
        justify-content: center;
    }
    .header__box2{
        justify-content: center;
        gap: 10px;
    }
}
@media (max-width: 539px){
    .main__nav {
        top: 86px;
    }
}
@media (max-width: 480px) {
    .box3__links{
        padding: 0 20px;
        justify-content: center;
        row-gap: 20px;
    }
    .box3__title{
        text-align: center;
    }
    .box3__title2{
        text-align: center;
    }
    .box3__text{
        text-align: center;
    }
    .footer__box{
        gap: 30px;
    }
    .main__list{
        justify-content: center;
        gap: 20px;
        padding: 10px 0;
    }
    .main__link:after{
        content: none;
    }
    .main__link{
        padding-bottom: 0;
    }
    .info__text{
        font-size: 13px;
        line-height: 18px;
    }
    .info__title{
        font-size: 27px;
    }
    .location__title {
        font-size: 37px;
        padding: 10px 0;
    }
}
@media (max-width: 414px) {
    .box3__content{
        padding: 0;
    }
    .product__title{
        text-align: center;
    }
    .product__text{
        text-align: center;
        max-width: none;
    }
}
@media (max-width: 362px) {
    .main__nav {
        top: 84px;
    }
    .main__link {
        font-size: 15px;
    }
    .box2__link{
        font-size: 15px;
    }
    .box3__title{
        font-size: 55px;
    }
    .box3__text {
        padding: 0px 0 20px 0;
    }
    .product__img-icon {
        padding: 106.5px 0;
    }
}